@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
a:active,
a:hover,
a {
  text-decoration: none;
  color: black;
}

:root {
  --bs-font-sans-serif: "Inter", sans-serif;
  --bs-nav-link-font-weight: 400;
}
.custom-popover {
  --bs-popover-max-width: 200px;
  --bs-popover-border-color: var(--bs-warning);
  --bs-popover-header-bg: var(--bs-warning);
  --bs-popover-header-color: var(--bs-white);
  --bs-popover-body-padding-x: 1rem;
  --bs-popover-body-padding-y: .5rem;
}
.text-primary {
  color: #121212;
}

.nav-link {
  color: #121212;
}

.btn {
  border: 0;
}

.btn-1 {
  min-width: 4rem;
  max-width: 30vw;
}

.navbar-toggler:focus {
  -webkit-box-shadow: 0 0 0 0;
          box-shadow: 0 0 0 0;
}

.btn:active {
  border: 0;
}

.main {
  background-image: url(../img/main.png);
  background-size: 100%;
  background-repeat: no-repeat;
  min-height: 50vw;
}

h1 {
  font-size: calc(5vw + 50%);
}

h2 {
  font-size: calc(2vw + 60%);
}

h3 {
  font-size: calc(1vw + 20%);
  margin: 0px 0px 0px 0px;
}

.modal {
  --bs-modal-width: 70%;
}

form {
  background-image: url(../img/final.png);
  background-size: 100%;
  background-repeat: no-repeat;
  min-height: auto;
  border-radius: 3vw;
  -webkit-border-radius: 3vw;
  -moz-border-radius: 3vw;
  -ms-border-radius: 3vw;
  -o-border-radius: 3vw;
}

@media (max-width: 576px) {
  .main {
    background-image: url(../img/main2.png);
    min-height: 100vw;
    border-radius: 1vw;
    -webkit-border-radius: 1vw;
    -moz-border-radius: 1vw;
    -ms-border-radius: 1vw;
    -o-border-radius: 1vw;
  }
  h2 {
    font-size: 5vw;
  }
  h3 {
    font-size: 3vw;
  }
  .wrap {
    margin-top: 2%;
  }
  .lawinf {
    margin-top: 10vw;
    max-width: 40vw;
  }
  .btn-1 {
    margin-top: 5vw;
    margin-bottom: 2vw;
  }
  .mgn {
    margin-top: 2vw !important;
  }
  .carousel-txt {
    font-size: 16px;
  }
  form {
    background-image: none;
  }
}
.title {
  background: -webkit-linear-gradient(90deg, #ffffff 0%, rgb(255, 231, 96) 35%, #ffd000 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 10vw;
}

.mgn {
  margin-top: -10vw;
}

.card {
  border: 0;
}

.ans {
  margin-top: -0.8rem;
}

.map {
  border-radius: 1vw;
  -webkit-border-radius: 1vw;
  -moz-border-radius: 1vw;
  -ms-border-radius: 1vw;
  -o-border-radius: 1vw;
}
.show-none{
  display: none!important;
}
